<h1 class="navbar">We Love Cars</h1>
<h3 class="pt-3">Welcome to our Fun Cars Site!</h3>
<p class="pt-3">I hope all you guys love cars just as much as we do.</p>
<!--UNCOMMENT THE BELOW CODE IF NAVBAR BREAKS ON HOME PAGE!!!!-->
<!--<h5>NOTE: Our navbar is having some issues working on our home page. Use this link to enter the contest - It works on the contest page</h5>-->
<!--<a href="/projectTwo/contest">CLick here to enter our contest!</a><br/>-->


<div class="container col-md-12 pt-2">
    <p>Here are some of the cars we love.</p>
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="homeImages/AstonVantage.jpg" class="d-block w-100"
                     alt="Aston Martin Vantage"/>
                <h5>Aston Martin Vantage</h5>
            </div>
            <div class="carousel-item">
                <img src="homeImages/f40.jpg" class="d-block w-100  " alt="Ferarri F40"/>
                <h5>Ferrari F40</h5>
            </div>
            <div class="carousel-item">
                <img src="homeImages/R32.jpg" class="d-block w-100" alt="R32"/>
                <h5>Nissan Skyline R32</h5>
            </div>
            <div class="carousel-item">
                <img src="homeImages/hawkeye%20sti.jpg" class="d-block w-100" alt="Subaru STI"/>
                <h5>Subaru STI</h5>
            </div>
        </div>

        <!-- Left and right controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2 class="mt-5 mb-3">Us car lovers obviously have to have some nice cars ourselves. Here they are:</h2>
    <div id="adam" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#adam" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#adam" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#adam" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="homeImages/Adam_G35.jpg" class="d-block w-100"
                     alt="G35"/>
                <h5>2007 Infiniti G35</h5>
            </div>
            <div class="carousel-item text-center">
                <video controls>
                    <source src="homeImages/Mini%20Pull.mp4" type="video/mp4" class="d-block w-100" />
                </video>
                <h5 class="mb-5">Straight Pipe Exhaust</h5>
            </div>
            <div class="carousel-item text-center">
                <img src="homeImages/RearEndG35.jpg" class="d-block w-50 m-auto" alt="BackEnd"/>
                <h5 class="mb-5">Rear Pic</h5>
            </div>
        </div>

        <!-- Left and right controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#adam" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#adam" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h6>Mods List:</h6>
    <ul>
        <li>Aftermarket R32 Mirrors</li>
        <li>Avery Dark Gloss Grey Wrap</li>
        <li>Stage 2 Clutch</li>
        <li>Z1 Motorsports 5/16 Plenum Spacer</li>
        <li>NRG Oil Catch Can</li>
        <li>Z1 Motorsports Test Pipes</li>
        <li>Stillen Y Pipe</li>
        <li>Z1 Motorsports Single Exit Catback Exhaust</li>
        <li>Injen Dyno Proven True Cold Air Intake</li>
        <li>Mesh Front Grille</li>
        <li>Z1 Motorsports White Sidemarkers</li>
        <li>NISMO Front Bumper</li>
        <li>Brembo Brakes with Drilled and Slotted Rotors</li>
        <li>Z1 Motorsports Fully Adjustable Upper Control Arms</li>
        <li>ESR CS5 Wheels</li>
        <li>BC Racing Coilovers</li>
        <li>Z1 Motorsports Rear Differential Poly Urethane Bushings</li>
    </ul>

    <p>Johns Cars</p>
    <div id="john" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#john" data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#john" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#john" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <!-- The slideshow -->
        <div class="carousel-inner mb-5">
            <div class="carousel-item active">
                <img src="homeImages/silvia.jpg" class="d-block w-100"
                     alt="Silvia"/>
                <h5>1999 Nissan Silvia S15 Spec R</h5>
            </div>
            <div class="carousel-item">
                <img src="homeImages/subiesnow.jpg" class="d-block w-100  " alt="Subaru"/>
                <h5>2015 Subaru STI</h5>
            </div>
            <div class="carousel-item">
                <img src="homeImages/thetoys.jpg" class="d-block w-100" alt="toys"/>
                <h5>2015 Subaru STI, 1999 Nissan Silvia, 2005 GSXR 600</h5>
            </div>
        </div>

        <!-- Left and right controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#john" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#john" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
