<h1 class="navbar">We Love Cars</h1>
<h3 class="pt-3">Welcome to our Fun Cars Site!</h3>
<p class="pt-3">I hope all you guys love cars just as much as we do.</p>

<div class="col-md-12 pt-2">
    <p>Here are some of the makes we love.</p>
    <div class="col-md-12 pt-2 pb-3">
        <div>{{makes}}</div>
    </div>
</div>
<div class="col-md-12">
    <p>Here are some of the models we love.</p>
    <div class="col-md-12">
        <div>{{models}}</div>
    </div>
</div>



